---
layout: default
title: Artikelübersicht
---
<div class="container">
  <header class="subhead">
    <h1 style="letter-spacing: -2px">braindump(“sma”)</h1>
    <p class="lead"><i>Dinge und Sachen, die ich mal geschrieben habe.</i></p>
  </header>
  <section>
    <ul class="articles">
    {% for post in site.posts %}
  	  <li>
  	  	<small>{{ post.date | date_to_long_string }}</small><br>
  	  	<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br>
  	  	{% for tag in post.tags %}
  	  	<small style="font-size:13px; border:1px solid #ddd; border-radius: 3px; padding: 1px; text-transform:uppercase">{{ tag }}</small>
  	  	{% endfor %}
  	  </li>
    {% endfor %}
    </ul>
  </section>
</div>
<footer>
  <div class="container">
    <address><p>&copy;2013 Stefan Matthias Aust.</p></address>
  </div>
</footer>
