---
layout: default
---
<section class="container">
	<h1 class="page-header">
		{{ page.title }}
		<small class="edit"><a href="https://github.com/sma/articles/edit/gh-pages/{{ page.path }}">Bearbeiten</a></small>
	</h1>
	{{ content }}
</section>
<footer>
	<address class="container" style="position: relative">
		<table style="width: 100%">
			<tr>
				<td>Written by Stefan Matthias Aust. Last updated on {{ page.date | date_to_long_string }}.</td>
				<td><g:plusone></g:plusone></td>
				<td align="right"><a href="{{ site.baseurl }}/">&larr; Back to index</a></td>
			</tr>
		</table>
	</address>
</footer>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
